<section>
	{% for blip in blipslist | reverse %}
		<article class="dd-u-b-b" {% if blip.url == url %} data-current="current item"{% endif %}>
			<h3 class="dd-u-mb-0">
				<a href="{{ blip.url | url }}">
					{% if blip.data.title %}
						{{ blip.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3> 
			<p class="dc-u-mb-0">
				<time datetime="{{ blip.date | machineDate }}">
					<small>{{ blip.date | readableDate }}</small>
				</time>
			</p>
		</article>
	{% endfor %}
</section>
