<footer>
  {% include "components/nav.njk" %}
  <small>
    This site is built from the <a href="{{ pkg.repository.url }}">Eleventy Netlify Boilerplate</a> by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
  </small>
</footer>
