<section>
	{% for tinkering in tinkeringslist | reverse %}
		<article class="dd-u-b-b" {% if tinkering.url == url %} data-current="current item"{% endif %}>
			<h3 class="dd-u-mb-0">
				<a href="{{ tinkering.url | url }}">
					{% if tinkering.data.title %}
						{{ tinkering.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3> 
			<p class="dd-u-mb-0">
				<time datetime="{{ tinkering.date | machineDate }}">
					<small>{{ tinkering.date | readableDate }}</small>
				</time>
			</p>
		</article>
	{% endfor %}
</section>
