---
layout: layouts/base.njk
section: blips
---

<article class="dd-container dd-card">
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/blips/' | url }}">← Back to Blips</a>
</nav>
