---
layout: layouts/base.njk
section: blips
permalink: /blips/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set blipslist = collections.blips %}
{% include "components/blipslist.njk" %}
