---
layout: layouts/base.njk
section: foodposts
permalink: /learning-to-cook/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set foodpostslist = collections.foodposts %}
{% include "components/foodpostslist.njk" %}
