---
layout: layouts/base.njk
section: post
---

<article class="dd-container dd-card">
  <h1 class="dd-u-fs-42@lg dd-u-mb-0">{{ title }}</h1>
  <p class="dd-u-mt-0 dd-u-c-gray">
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/posts/' | url }}">← Blog index</a>
</nav>

{% if codeHighlighting %}
  {% set js %}
    {% include "assets/js/highlight.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{% endif %}
