---
layout: layouts/base.njk
section: tinkerings
permalink: /tinkerings/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set tinkeringslist = collections.tinkerings %}
{% include "components/tinkeringslist.njk" %}
